[submodule "foundry-smart-contract-lottery-f23/lib/chainlink-brownie-contracts"]
	path = foundry-smart-contract-lottery-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-smart-contract-lottery-f23/lib/solmate"]
	path = foundry-smart-contract-lottery-f23/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry-smart-contract-lottery-f23/lib/foundry-devops"]
	path = foundry-smart-contract-lottery-f23/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
